name: Reusable Workflow
on:
  workflow_call:
    inputs:
      artifact-name:
        type: string
        default: 'dist'
        description: 'Custom artifact'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: List files
        run: echo ls
      - name: Deploy Reusable
        run: echo "Deploying..."